.scrollspySite{
    position: relative;
    overflow: auto;
    height: 350px;
}

.container-2{
    background-color:white;
}

.container-2 .jumbotron {
    background-color: rgba(0, 0, 0, .78);
    border: 3px solid rgba(0, 0, 0, .5);
    box-shadow: 4px 4px 9px rgba(0, 0, 0, .52);
    margin: auto;
}

.svg{
    width: 100%;
}